@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="animate">Strawberries &nbsp;by&nbsp; WHY?</h1>

<div class="shell">
    <div class="videoContainer">
        <iframe src="https://youtube.com/embed/05tW0vVHsgg" class="video"></iframe>
    </div>
</div>